@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@viewport {
    width: device-width; 
    zoom: 1.0;
}

@media screen and (max-width: 480px) {

}

body {
    background-color: rgba(26, 74, 169, 0.521);
    color:bisque;
}

a {
    
}

#navbar-container {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    position: fixed;
    padding-left: 75%;
    padding-right: 10%;
    padding: 70px;
    width: 25%;
}

#main-navbar {
    border-style: ridge;
    border-color: azure;

}