@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@viewport {
  width: device-width; 
  zoom: 1.0;
}

@media screen and (max-width: 480px) {
  #navbar-container {
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    position: relative;
    float: left;
    padding: 5px;
    width: 25%;
  }
  #main-navbar {
    border-style: ridge;
    border-color: azure;
    padding: 5%;
    text-align: left;
  }
  #form-container {
    float: left;
    position: relative;
    text-align: center;
    padding: 5px;
  }
}

body {
  background-color: rgb(15, 15, 171);
  color:bisque;
  text-align: left;
}

#navbar-container {
  font-family: 'Oswald', sans-serif;
  font-size: large;
  position: inline-block;
  float: left;
  padding: 10px;
  width: 25%;
}

#main-navbar {
  border-style: ridge;
  border-color: azure;
  padding: 5%;
  text-align: left;
}

#main-navbar ul li a{
  text-decoration: underline;
  display: inline-flex;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block
}

#form-container {
  float: left;
  position: relative;
  text-align: center;
  padding: 10px;
}

#form-container h2 {
  font-family: 'Oswald', sans-serif;
  position: inline-flex;
  float: top left;
  padding: 10%;
  width: 25%;
}

#form-container form label {
  position: inline-flex;
  padding: 5px;
  float: inline-end;
}

#form-container form input {
  position: relative;
  padding: 5px;
}
